@import "mixin";
@import "fonts";


* {
	box-sizing: border-box;
}

body {
	background-color: #fff;

	&.lock {
		overflow: hidden;
	}
}

.main {
	margin-top: -40px;
	position: relative;

	&.container {
		max-width: 100%;
		padding: 0;
	}
}

.breadcrumb {
	display: none;
}

.footer {
	margin-top: 153px;
	@include r(767) {
		margin-top: 40px;
	}
}

.wrp {
	position: relative;
	background-color: #F5F5F5;
}


.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.osen-zima-modal {
	overflow: hidden;
	.swiper-slide{
		text-align: center;
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: 36px;
		height: 70px;
	}

	.swiper-button-next {
		right: 50px;
	}

	.swiper-button-prev {
		left: 50px;
	}

	.swiper-button-next:after, .swiper-button-prev:after {
		background-image: none;
		color: #0000;
		background-size: 100%;
	}

	.swiper-button-next:after {
		background-image: url("../img/arrow-next.svg");
	}

	.swiper-button-prev:after {
		background-image: url("../img/arrow-prev.svg");
	}
}

@media only screen and (min-width: 641px) {
	.remodal {
		max-width: 896px;
	}
}


@include r(767){
	.osen-zima-modal {
		padding-bottom: 80px;
		.swiper-photo{
			overflow: hidden;
		}
		.swiper-button-prev,
		.swiper-button-next{
			top: auto;
			bottom: 20px;
			margin-top: auto;
			width: 23px;
			height: 45px;
		}
		.swiper-button-prev {
			left:  calc(50% - 50px);
		}
		.swiper-button-next {
			right: calc(50% - 50px);
		}
	}

}


@import "componets/osen-zima-hero";
@import "componets/osen-zima-section";
@import "componets/osen-zima-nav";
@import "componets/osen-zima-detail";




